/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Kurale;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

li {
  display: inline-block; }

body {
  font-family: 'Kurale', serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #252525;
  letter-spacing: 1px;
  direction: ltr;
  text-align: center;
  line-height: normal;
  margin: 0; }

input,
textarea {
  font-family: Kurale;
  color: #b2b2b2; }

*, ::before, ::after {
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.hidden {
  height: 0;
  line-height: 0;
  font-size: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.cover {
  background: url("../img/wall.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0; }

.on-cover {
  background: rgba(255, 255, 255, 0.21) no-repeat center center fixed; }

.wrapper {
  width: 900px;
  margin: 0 auto;
  border-top: 1px transparent solid; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
      width: 768px; } }

.cov-gallery.wrapper {
  width: 900px;
  margin: 0 100px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .cov-gallery.wrapper {
      width: 768px; } }

.content {
  width: 100%;
  padding-bottom: 20px; }

.column {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 100%;
  padding: 3px;
  margin: 0;
  position: relative;
  /*ul {
  	text-align: left;
  }*/ }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .column {
      width: 256px; } }

.contact .column {
  width: 450px;
  padding-left: 10px;
  padding-right: 10px;
  outline: 1px solid black; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contact .column {
      width: 384px; } }

.logo {
  display: inline-block;
  color: #252525;
  font-size: 40px;
  font-weight: bold;
  float: left; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .logo {
      float: none; } }
  .logo:before {
    clear: both; }

.intro {
  text-align: right;
  font-size: 18px;
  color: #252525;
  font-weight: bold;
  font-style: italic;
  margin: 0px 50px;
  letter-spacing: 1px; }
  .intro p {
    margin: 10px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .intro p {
        display: inline-block;
        width: 50%; } }

.nav-container {
  background-color: rgba(0, 0, 0, 0.35);
  line-height: 60px;
  width: 100%; }

.f-nav {
  z-index: 9999;
  /*position: fixed; */
  left: 0;
  top: 0;
  width: 100%; }

.nav-cont-box {
  width: 90%;
  height: 60px;
  margin: 0 auto;
  position: relative; }
  @media only screen and (min-width: 1024px) {
    .nav-cont-box {
      width: 92%; } }
  @media only screen and (min-width: 1280px) {
    .nav-cont-box {
      width: 80%; } }

.nav {
  height: auto;
  overflow: hidden;
  transition: height 0.5s ease-in;
  float: right; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .nav {
      height: 0;
      position: absolute;
      top: 60px;
      left: -14px;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.35); } }
  .nav ul {
    margin: 0 auto;
    padding: 0; }
    .nav ul li {
      font-size: 22px; }
      @media only screen and (min-width: 321px) and (max-width: 768px) {
        .nav ul li {
          display: block;
          float: none;
          text-align: left;
          width: 240px;
          height: 48px;
          padding-left: 20px;
          font-weight: bold;
          z-index: 999; }
          .nav ul li:first-child {
            margin-bottom: -5px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .nav ul li {
          display: block;
          float: none;
          text-align: left;
          width: 240px;
          height: 48px;
          padding-left: 20px;
          font-weight: bold;
          z-index: 999; }
          .nav ul li:first-child {
            margin-bottom: -5px; } }
      @media only screen and (min-width: 1024px) {
        .nav ul li {
          display: inline-block;
          padding-right: 6px;
          padding-left: 6px; } }
      @media only screen and (min-width: 1280px) {
        .nav ul li {
          padding-right: 10px;
          padding-left: 10px; } }
      .nav ul li a {
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        font-weight: bold;
        text-decoration: none; }
      .nav ul li:hover a {
        color: #252525; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .nav ul li .sch-icon {
          display: inline-block;
          width: 22px;
          margin-right: 15px;
          background: none; } }
      .nav ul li:hover i {
        background: url(../img/leaf7.png) no-repeat; }

.nav-visible {
  height: 320px; }

.navbar-toggle {
  display: none;
  background-color: #333;
  padding: 9px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  top: 21%;
  float: left; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-toggle {
      display: block; } }

.icon-bar {
  background-color: #fff;
  display: block;
  width: 22px;
  height: 2px;
  margin: 3.4px auto;
  border-radius: 1px; }

.icon-bar:nth-child(2) {
  margin-top: 1px; }

.icon-bar:nth-child(4) {
  margin-bottom: 1px; }

.carousel {
  margin: 10px auto; }

.picture {
  position: relative; }

.picture-text {
  color: #252525;
  position: absolute;
  top: 80px;
  right: 100px;
  z-index: 5; }

.picture-text-left {
  color: #252525;
  width: 300px;
  position: absolute;
  top: 100px;
  left: 70px;
  z-index: 5; }

.picture-text-white {
  color: #ffffff;
  width: 300px;
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 5; }

.p-text {
  font-size: 32px; }

.slick-prev {
  left: 44px;
  z-index: 2; }

.slick-next {
  right: 67px;
  z-index: 2; }

.teacher {
  font-size: 34px;
  font-weight: bold;
  color: #252525;
  margin: 20px 0;
  text-transform: uppercase; }

.ftr {
  width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .ftr {
      width: 284px; } }
  .ftr:nth-child(odd) {
    margin-left: 20px;
    margin-right: 30px; }
  .ftr:nth-child(even) {
    margin-left: 30px;
    margin-right: 20px; }

.icon {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  width: 80px;
  height: 80px;
  background-size: 80px; }

.i-sun {
  background: url("../img/sun.png"); }

.i-tulip {
  background: url("../img/tulip.png"); }

.i-tree {
  background: url("../img/tree.png");
  opacity: 0.65; }

.i-leaf5 {
  background: url("../img/leaf5.png"); }

.i-eggs {
  background: url("../img/eggs.png"); }

.i-flower {
  background: url("../img/flower.png"); }

.ftr-text {
  display: inline-block;
  vertical-align: middle;
  width: 260px; }

.frt-h {
  font-size: 22px;
  font-weight: bold; }

.question {
  padding-left: 75px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .question {
      padding-left: 0; } }

.qst-left,
.qst-right {
  height: 150px;
  width: 350px;
  margin-top: 40px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .qst-left,
    .qst-right {
      height: auto; } }

.link-galary {
  color: #252525;
  text-decoration: none; }
  .link-galary:hover {
    text-decoration: underline; }

.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #34722f;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 22px;
  background-color: #44963e;
  padding: 8px 25px 10px 25px;
  text-decoration: none; }
  .button:hover {
    background-color: #52a64c;
    text-decoration: none; }

.qst-left {
  padding-top: 20px; }

.qst-right {
  font-size: 22px;
  font-weight: bold; }

.a-link {
  display: inline-block;
  width: 300px;
  color: #252525;
  text-decoration: none;
  cursor: pointer; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .a-link {
      width: 256px; } }

.shedule {
  height: 480px; }

.clmn-opacity {
  width: 100%;
  height: 100%;
  background-color: rgba(242, 252, 255, 0.7);
  padding: 30px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .clmn-opacity {
      padding: 15px; } }
  .clmn-opacity:hover {
    background-color: rgba(242, 252, 255, 0.9);
    opacity: 1.0;
    transform: scale(1.1);
    transition: all 0.1s; }

.clmn-sand {
  width: 300px;
  height: 300px; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .clmn-sand {
      width: 256px; } }

.clmn-text {
  height: 50%; }

.collage {
  padding: 10px; }

.collage img {
  vertical-align: bottom;
  opacity: 0; }

.sch-h1 {
  font-size: 34px;
  font-weight: bold;
  padding-top: 70px; }

.sch-h2 {
  font-size: 29px;
  font-weight: bold;
  padding-bottom: 10px; }

.sch-h3 {
  font-size: 24px;
  font-weight: bold; }

.sch-p {
  font-size: 18px;
  margin-bottom: 10px; }

.sch-ul {
  letter-spacing: 0px; }

.sch-li {
  text-align: center;
  font-size: 20px;
  height: 60px; }

.sch-li-icon {
  text-align: center;
  width: 100%; }

.sch-icon {
  height: 22px;
  margin-top: 10px;
  background: url("../img/leaf7.png") no-repeat;
  background-position: 50% 50%; }

.sch-text {
  font-weight: bold; }

.clmn-image {
  height: 50%;
  position: relative; }

.clmn-foto {
  max-width: 100%;
  position: absolute;
  bottom: 4px;
  left: -5px; }

.trial-left {
  width: 35%;
  margin-top: 20px;
  padding-top: 0; }

.link {
  font-size: 22px;
  font-weight: bold;
  color: #252525;
  text-decoration: none;
  vertical-align: top; }
  .link:hover {
    text-decoration: underline; }

.trial-right {
  width: 60%;
  margin-top: 20px; }
  .trial-right p {
    font-size: 22px;
    color: #252525;
    text-decoration: none;
    margin-bottom: 20px; }
  .trial-right .button {
    padding: 3px 25px 5px 25px; }

.daisy {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  width: 113px;
  height: 113px;
  background-size: 113px; }

.daisy1 {
  background: url("../img/daisy1.png"); }

.daisy2 {
  background: url("../img/daisy2.png"); }

.daisy3 {
  background: url("../img/daisy3.png"); }

.leaf {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  width: 101px;
  height: 113px;
  background-size: 101px; }

.leaf1 {
  background: url("../img/leaf1.png"); }

.leaf2 {
  background: url("../img/leaf2.png"); }

.leaf3 {
  background: url("../img/leaf3.png"); }

.subscription .clmn-opacity {
  background-color: rgba(242, 252, 255, 0);
  padding: 20px 25px 25px 25px; }
.subscription .clmn-opacity:hover {
  background-color: rgba(242, 252, 255, 0.7);
  border: 1px solid #3b8a37; }
.subscription .sch-h1 {
  margin-bottom: 10px; }
.subscription .sch-p {
  color: #285e26;
  font-size: 24px;
  font-weight: bold; }

.sch-legend {
  font-size: 22px; }

.cov-method .sch-h1 {
  margin-bottom: 20px; }

.line {
  text-align: justify;
  margin-bottom: 20px; }

.line-opacity {
  background-color: rgba(242, 252, 255, 0.7);
  padding: 30px 40px; }

.icon-yoga {
  width: 128px;
  height: 128px;
  margin-right: 20px;
  float: left; }

.yoga5 {
  background-image: url("../img/yoga5.png"); }

.yoga9 {
  background-image: url("../img/yoga9.png"); }

.yoga1 {
  background-image: url("../img/yoga1.png"); }

/*Contacts*/
.contact .sch-h1 {
  margin-bottom: 20px; }

.no-display {
  display: none; }

.places-container {
  width: 100%; }

.places-list {
  width: 100%;
  list-style: none; }
  .places-list .clmn-opacity {
    background-color: rgba(242, 252, 255, 0.5);
    padding: 20px 25px 25px 25px; }
  .places-list .clmn-opacity:hover {
    transform: none;
    transition: none;
    cursor: pointer; }
  .places-list .place-active {
    background-color: rgba(242, 252, 255, 0.7);
    border-top: 1px solid #3b8a37;
    border-left: 1px solid #3b8a37;
    border-right: 1px solid #3b8a37;
    border-bottom: 1px solid transparent;
    box-sizing: border-box; }

.places-item {
  display: inline-block;
  width: 33.33333%;
  height: 80px;
  user-select: none;
  border-bottom: 1px solid #3b8a37; }

.map {
  background-color: rgba(242, 252, 255, 0.7);
  padding: 30px;
  border-bottom: 1px solid #3b8a37;
  border-left: 1px solid #3b8a37;
  border-right: 1px solid #3b8a37;
  box-sizing: border-box; }

.hidden-map {
  display: none; }

.maps-container {
  width: 100%;
  margin-top: -1px;
  border-right: 1px solid transparent;
  box-sizing: border-box; }

.intrinsic-container {
  position: relative;
  width: 100%;
  height: 365px;
  overflow: hidden; }

.intrinsic-container iframe {
  width: 90%;
  height: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.contact-block1,
.contact-block2,
.contact-block3 {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 70px;
  vertical-align: top; }

.contact-block1 {
  width: 42%; }
  .contact-block1 .contact-opacity {
    font-family: Raleway;
    font-style: italic;
    font-size: 210%; }

.contact-block2 {
  width: 30%; }

.contact-block3 {
  width: 25%; }

.contact-opacity {
  font-size: 210%;
  height: 105px;
  line-height: 105px;
  background-color: rgba(242, 252, 255, 0.7); }

.contact-facebook {
  height: 105px;
  line-height: 105px;
  background-color: rgba(242, 252, 255, 0.7);
  padding: 16px; }

.contact-img {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px; }

/*Gallery Common*/
.cov-gallery .sch-h1 {
  padding-top: 30px; }

/*Photoswipe classes*/
.my-gallery {
  margin-top: 30px;
  margin-bottom: 50px; }

.my-gallery img {
  width: 100%;
  height: auto; }

.my-gallery figure {
  display: none;
  margin: 0 10px 10px 10px;
  width: 270px; }

.my-gallery figcaption {
  display: none; }

.gallery1 figure:nth-child(5),
.gallery1 figure:nth-child(7),
.gallery1 figure:nth-child(20) {
  display: inline-block; }

.gallery2 figure:nth-child(1),
.gallery2 figure:nth-child(2),
.gallery2 figure:nth-child(3) {
  display: inline-block; }

.gallery figure {
  display: inline-block; }

/*# sourceMappingURL=styles%20copy.css.map */
